{% extends 'tienda/plantilla.html' %}
{% load static %}

{% block content %}


<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
	style="background-image:url();">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>Product Details</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

{% for p in produ %}
<div id="fh5co-product">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1 animate-box">
				
					<div class="item">
						<div class="active text-center product">											
							<div class="product-grid img-responsive" style="background-image:url('{{ p.imagen.url }}');">
							</div>							
						</div>
					</div>
				
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
						<h2>{{p.nombre}}</h2>
						<p>
							<a onclick="abrir_modal_agregar('{% url 'tienda:agregar' p.id %}')" class="btn btn-primary btn-outline btn-lg">Add to Cart</a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="fh5co-tabs animate-box">
					<ul class="fh5co-tab-nav">
						<li class="active"><a href="#" data-tab="1"><span class="icon visible-xs"><i
										class="icon-file"></i></span><span class="hidden-xs">Product Details</span></a>
						</li>
					</ul>

					<!-- Tabs -->
					<div class="fh5co-tab-content-wrap">

						<div class="fh5co-tab-content tab-content active" data-tab-content="1">
							<div class="col-md-10 col-md-offset-1">
								<span class="price">{{p.precio}}€</span>
								<h2>{{p.nombre}}</h2>
								<p>{{p.descripcion}}</p>
								
								

								

								<div class="row">
									<div class="col-md-6">
										<h2 class="uppercase">Keep it simple</h2>
										<p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
									</div>
									<div class="col-md-6">
										<h2 class="uppercase">Less is more</h2>
										<p>Ullam dolorum iure dolore dicta fuga ipsa velit veritatis</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endfor %}

<div class="modal fade" id="agregar" role="dialog">
</div>

{% endblock content %}

{% block extrajs %}
<script type="text/javascript">
	var $ = jQuery.noConflict();
	function abrir_modal_agregar(url) {
		$('#agregar').load(url, function () {
			$(this).modal('show');
		});
	}		
</script>
{% endblock extrajs %}